[run]
source = src
omit = tests/*,*/migrations/*,venv/*,*/settings.py,*/setup.py,*/conftest.py,src/__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    raise ImportError
    except ImportError
    if __name__ == .__main__.:
    if typing.TYPE_CHECKING:
    pass
    ...

[html]
directory = htmlcov
title = Rapport de couverture MCP
extra_css = 